<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471469909011-g8bu4h046s50tlqh40cj547vn8t4jkkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471469909011-g8bu4h046s50tlqh40cj547vn8t4jkkj</string>
	<key>API_KEY</key>
	<string>AIzaSyB0HPTWBjKghmI9qVjG2pEwYX6l883GeGI</string>
	<key>GCM_SENDER_ID</key>
	<string>471469909011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meetcodes.Firebase-Demo</string>
	<key>PROJECT_ID</key>
	<string>database-ios-37585</string>
	<key>STORAGE_BUCKET</key>
	<string>database-ios-37585.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471469909011:ios:8ea6d3c4e9645fff40cbe6</string>
</dict>
</plist>